<div class="sidenav-header">
    <mat-toolbar *ngIf="getTopics.length > 0">

        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

            <div matSubheader>
                Topics
            </div>
            <div>
                <button mat-icon-button
                        aria-label="more"
                        (click)="addTopic()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </mat-toolbar-row>

    </mat-toolbar>

</div>

<div class="sidenav-content" fusePerfectScrollbar fxFlex *ngIf="getTopics">

    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <div class="chat-list" fxLayout="column">

            <button mat-button class="contact"
                    *ngFor="let topic of getTopics"
                    [ngClass]="topic.active === true ? 'accent active': ''"
                    (click)="getChat(topic)"
                    ngClass="{'unread':contact.unread}"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div fxLayout="row" fxFlex>

                        <div class="pr-4" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{topic.data.name}}</div>
                            <div class="contact-last-message mat-badge">{{topic.data.status}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start end" class="layout-button-margin">
                            <div class="contact-last-message-time ">
                                {{topic.system.updatedAt | date}}
                            </div>
                            <!--<div *ngIf="topic.data.stats.newMessages > 0" class="mt-4 unread-message-count accent">{{topic.data.stats.newMessages}}</div>-->
                        </div>
                        <button mat-icon-button
                                [matMenuTriggerFor]="topicMenu"
                                aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #topicMenu="matMenu">
                            <button mat-menu-item  (click)="editTopic(topic)">
                                Edit Topic
                            </button>
                            <button mat-menu-item (click)="settingTopic(topic)">
                                Settings
                            </button>
                            <button mat-menu-item (click)="topicState()">
                                Status
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </button>
        </div>

    </div>

</div>

<div class="nav nav-group pl-3" *ngIf="pageNum">
    <div class="group-items">
        <div class="nav-item">
            <a class="nav-link">
                <span class=" nav-link-title text-black"
                      aria-label="Compose"
                >
                    <mat-icon class="font-size-10" (click)="prePage(pageNum)">arrow_back_ios</mat-icon>
                </span>
                <span class=" nav-link-title text-center text-black"
                      aria-label="Compose"
                >
                    {{pageNum}} &nbsp; / &nbsp; {{totalNum}}
                </span>
                <span class=" nav-link-title text-right text-black"
                  aria-label="Compose">
                    <mat-icon class="font-size-10" (click)="nextPage(pageNum)">arrow_forward_ios</mat-icon>
                </span>
            </a>
        </div>
    </div>
</div>
