<div class="chat" fxFlex fxLayout="column">

    <mat-toolbar class="chat-toolbar">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button fxHide.gt-md class="responsive-chats-button mr-16"
                        fuseMatSidenavToggler="chat-left-sidenav"
                        aria-label="chats button">
                    <mat-icon>chat</mat-icon>
                </button>

                <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                     fuseMatSidenavToggler="chat-right-sidenav">

                    <div class="chat-contact-name">
                        {{selectedTopic}}
                    </div>

                </div>
            </div>

        </div>
    </mat-toolbar>

    <div id="chat-content" fxFlex="1 1 auto"  fusePerfectScrollbar>

        <!-- CHAT MESSAGES -->
        <div class="chat-messages">

            <!-- MESSAGE -->
            <div *ngFor="let message of selectedChat; let i = index" class="message-row" style="margin-bottom: 24px"
                 [ngClass]="{
                            'me': message.system.userId === user.id,
                            'contact': message.system.userId !== user.id
                            }"
            >

                <img *ngIf="message.system.userId !== user.id"
                     src="assets/images/avatars/profile.jpg"
                     class="avatar">

                <div class="me-text">
                    <div style="display: flex;">
                        <div class="time black-text pr-5 text-16">{{message.system.userId === user.id ? 'me' : message.system.userId }}</div> &nbsp;
                        <div class="time secondary-text">{{message.system.updatedAt | date:'short'}}</div>
                    </div>
                    
                    <div class="bubble">
                        <div class="message">{{message.data.text}}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

        <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm="ngForm"
                  (ngSubmit)="reply($event)"
                  (keydown.enter)="reply($event)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput placeholder="Type your message"
                              ngModel name="message" [rows]="1" [matTextareaAutosize]="true"></textarea>
                </mat-form-field>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>

    </div>

</div>
