<ng-container>

    <a class="nav-link"
       [routerLinkActive] = "['active', 'accent']"
       [ngClass] = "item.active === true ? 'active accent' : ''"
       (click)="clickChannel(item.id)">
        <ng-container *ngTemplateOutlet="itemContent" ></ng-container>
    </a>

    <ng-template #itemContent>

        <span class="nav-link-title">{{item.data.name}}</span>
        <span class="nav-link-badge"
              >
            {{item.data.stats?item.data.stats.userCount:0}}
        </span>
    </ng-template>


</ng-container>
