<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Add Channel</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
         <mat-tab-group>

                <mat-tab label="Add Channel">
                    <form name="composeForm" [formGroup]="composeForm" class="compose-form pt-16" fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput name="title"
                                   formControlName="title"
                                   type="text" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput name="description"
                                      formControlName="description"
                                      rows="4">
                            </textarea>
                        </mat-form-field>

                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="group mt-32">
                                <label class="text-super mb-3 text-bold">Type</label>
                                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="type" required>
                                    <mat-radio-button class="mb-12" value="group">Public (to everyone)</mat-radio-button>
                                    <mat-radio-button class="mb-12" value="private">Private (only in existing space)</mat-radio-button>
                                </mat-radio-group>

                            </div>
                            <div class="group mt-32">
                                <label class="text-super mb-3 text-bold">Subscribe</label>
                                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="subscribe" required>
                                    <mat-radio-button class="mb-12" value="all">Publish in channel list</mat-radio-button>
                                    <mat-radio-button class="mb-12" value="request">Not published(link only, invite users)</mat-radio-button>
                                    <mat-radio-button class="mb-12" value="invite">Not published(link only, invite users)</mat-radio-button>
                                </mat-radio-group>

                            </div>
                        </div>

                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="group mt-32">
                                <label class="text-super mb-3 text-bold">Space</label>
                                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="space" required>
                                    <mat-radio-button class="mb-12" value="public">Public (to everyone)</mat-radio-button>
                                    <mat-radio-button class="mb-12" value="own">Private (only in existing space)</mat-radio-button>
                                </mat-radio-group>

                            </div>
                            <div class="group mt-32">
                                <label class="text-super mb-3 text-bold">Visibility</label>
                                <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="visibility" required>
                                    <mat-radio-button class="mb-12" value="all">Publish in channel list</mat-radio-button>
                                    <mat-radio-button class="mb-12" value="link">Not published(link only, invite users)</mat-radio-button>
                                </mat-radio-group>

                            </div>
                        </div>
                    </form>
                </mat-tab>

                <mat-tab label="Subscribe Channel">
                    <mat-table #table [dataSource]="dataSource"
                               [@animateStagger]="{value:'50'}">
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef  class="width-80"></mat-header-cell>
                            <mat-cell *matCellDef="let contact" class="width-80">
                                <mat-checkbox
                                    (click)="$event.stopPropagation()">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef class="table-text-center">Name</mat-header-cell>
                            <mat-cell *matCellDef="let contact" class="table-text-center">
                                <p class="text-truncate font-weight-600" >{{contact.data.name}} </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm  class="width-80">Type</mat-header-cell>
                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm  class="width-80">
                                <p class="email text-truncate" >
                                    {{contact.data.type}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="users">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md  class="width-80">Users</mat-header-cell>
                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md  class="width-80">
                                <p class="phone text-truncate">
                                    {{contact.data.status}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="subtitle">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg class="table-text-center"></mat-header-cell>
                            <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg class="table-text-center">
                                <p class="job-title text-truncate">
                                    {{contact.data.name}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                 class="contact"
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                        </mat-row>
                    </mat-table>
                    <div class="nav nav-group pl-3">
                        <div class="group-items">
                            <div class="nav-item">
                                <a class="nav-link">
                                    <span class=" nav-link-title text-dark"
                                          aria-label="Compose"
                                    >
                                        <mat-icon class="font-size-10" (click)="prePage(pageNum)">arrow_back_ios</mat-icon>
                                    </span>
                                    <span class=" nav-link-title text-center text-dark"
                                          aria-label="Compose"
                                    >
                                        {{pageNum}} &nbsp; / &nbsp; {{totalNum}}
                                    </span>
                                    <span class=" nav-link-title text-right text-dark"
                                          aria-label="Compose">
                                        <mat-icon class="font-size-10" (click)="nextPage(pageNum)">arrow_forward_ios</mat-icon>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    (click)="matDialogRef.close(['send',composeForm])"
                    class="save-button"
                    [disabled]="composeForm.invalid"
                    aria-label="SAVE">
                SAVE
            </button>
        </div>

        <button mat-raised-button (click)="matDialogRef.close()" aria-label="Close dialog">
            CLOSE
        </button>
    </div>
</div>
