<div id="sub-header">
    <div class="project-card">
        <div class="content-card">
            <mat-sidenav-container>

                <div class="flex-space" *ngIf="selectChannel">
                    <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center">
                        <div class="chat-contact-name" >
                            <span class="s-24">&nbsp;{{channelName}}</span>
                        </div>
                    </div>
                    <div></div>
                    <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                    >
                        <div class="avatar-wrapper">
                            <mat-icon class="s-16 s-sm-24 s-md-24 mat-accent pr-3" style="padding-top: 5px;">
                                supervisor_account
                            </mat-icon>
                        </div>

                        <div class="chat-contact-name" >
                            <span class="s-24" style="padding-left: 10px;">{{userNum}}</span>
                        </div>
                    </div>
                    <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                    >
                        <div class="avatar-wrapper">
                            <mat-icon class="s-16 s-sm-24 s-md-24 mat-accent pr-3" style="padding-top: 5px;">public</mat-icon>
                        </div>

                        <div class="chat-contact-name">
                            <span class="s-24" style="padding-left: 10px;">{{channelType}}</span>
                        </div>
                    </div>
                    <div class="sidenav-header">
                        <mat-toolbar style="background: transparent!important;">

                            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

                                <div>
                                    <button mat-icon-button
                                            [matMenuTriggerFor]="userMenu"
                                            aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #userMenu="matMenu">
                                        <button mat-menu-item *ngIf="isAdmin" (click)="editChannel(selectChannel)">
                                            {{'_editChannel' | translate}}
                                        </button>
                                        <button mat-menu-item *ngIf="!isAdmin" class="text-grey" disabled>
                                            {{'_editChannel' | translate}}
                                        </button>
                                        <button mat-menu-item (click)="channelSetting(channelId)">
                                            {{'_settings' | translate}}
                                        </button>
                                        <button mat-menu-item (click)="channelStatus()">
                                            {{'_status' | translate}}
                                        </button>
                                        <button mat-menu-item>
                                            {{'_leaveChannel' | translate}}
                                        </button>
                                    </mat-menu>
                                </div>

                            </mat-toolbar-row>


                        </mat-toolbar>

                    </div>
                </div>

            </mat-sidenav-container>
        </div>
    </div>
</div>