:host {

    .folded:not(.unfolded) & {

        > .group-title {
            align-items: center;

            > span {
                opacity: 0;
                transition: opacity 200ms ease;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                min-width: 1.6rem;
                border-top: 2px solid;
                opacity: 0.2;
            }
        }
    }
}
.channel {
    white-space: normal;
    text-align: left;
    letter-spacing: 0.01em;
    min-height: 88px;
    border-bottom: 1px solid;
    padding: 10px;
    font-weight: 400;
    border-radius: 0;
    background: transparent;
}
.text-white {
    color: #fff;
}