<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{'CHANNEL.STATUS' | translate}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar *ngIf="_status">
        <form name="settingForm" [formGroup]="statusForm"
              class="compose-form pt-16" fxLayout="column" fxFlex>
            <mat-checkbox
                name="isCheck"
                (click)="changeCheckbox(_status)"
                [ngModel]="true"
                formControlName="isCheck">
                Your channel is active status
            </mat-checkbox>
        </form>
    </div>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar *ngIf="!_status">
        <form name="settingForm" [formGroup]="statusForm"
              class="compose-form pt-16" fxLayout="column" fxFlex>
            <mat-checkbox
                name="isCheck"
                (click)="changeCheckbox(_status)"
                [ngModel]="false"
                formControlName="isCheck">
                Your channel is inactive status
            </mat-checkbox>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    (click)="matDialogRef.close(['status',statusForm])"
                    class="save-button"
                    [disabled]="statusForm.invalid"
                    aria-label="SAVE">
                {{'OTHER.SAVE' | translate}}
            </button>
        </div>

        <button mat-raised-button (click)="channelOff()" aria-label="Close dialog">
            {{'OTHER.CLOSE' | translate}}
        </button>
    </div>
</div>