
<div id="chat" class="page-layout carded fullwidth inner-scroll" >

    <div class="center">

        <div class="content-card">

            <mat-sidenav-container>

                <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
                             fuseMatSidenavHelper="chat-left-sidenav" matIsLockedOpen="gt-md">
                    <chat-left-sidenav></chat-left-sidenav>
                </mat-sidenav>

                <chat-start *ngIf="!selectedChat"></chat-start>

                <chat-view *ngIf="selectedChat"></chat-view>

                <mat-sidenav class="sidenav" position="end" opened="false" mode="over"
                             fuseMatSidenavHelper="chat-right-sidenav">
                    <chat-right-sidenav></chat-right-sidenav>
                </mat-sidenav>

            </mat-sidenav-container>

        </div>

    </div>

</div>
