<div class="sidenav-header" *ngIf="getTopics">
    <mat-toolbar>

        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

            <div matSubheader>
                Topics
            </div>
            <div>
                <button mat-icon-button
                        aria-label="more">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </mat-toolbar-row>

    </mat-toolbar>

</div>

<div class="sidenav-content" fusePerfectScrollbar fxFlex *ngIf="getTopics">

    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <div class="chat-list" fxLayout="column">

            <button mat-button class="contact"
                    *ngFor="let topic of getTopics"
                    (click)="getChat(topic.id)" ngClass="{'unread':contact.unread}"
                    [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div fxLayout="row" fxFlex>

                        <div class="pr-4" fxFlex fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{topic.data.name}}</div>
                            <div class="contact-last-message mat-badge">{{topic.data.status}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start end">
                            <div class="contact-last-message-time">
                                {{topic.system.updatedAt | date}}
                            </div>
                            <div *ngIf="topic.data.stats.newMessages > 0" class="mt-4 unread-message-count accent">{{topic.data.stats.newMessages}}</div>
                        </div>

                    </div>

                </div>

            </button>

        </div>

    </div>

</div>
