<div class="nav" [ngClass]="{'vertical':layout === 'vertical'}">

    <ng-container *ngIf="layout === 'vertical'">
        <ng-container *ngFor="let item of navigation">

            <fuse-nav-vertical-group   [item]="item"></fuse-nav-vertical-group>

        </ng-container>
        <div class="nav nav-group pl-3">
            <div class="group-items fuse-navy-700">
                <div class="nav-item">
                    <a class="nav-link">
                        <span class=" nav-link-title"
                              aria-label="Compose"
                        >
                            <mat-icon class="font-size-10" (click)="prePage(pageNum)">arrow_back_ios</mat-icon>
                        </span>
                        <span class=" nav-link-title text-center"
                              aria-label="Compose"
                        >
                            {{pageNum}} &nbsp; / &nbsp; {{totalNum}}
                        </span>
                        <span class=" nav-link-title text-right"
                              aria-label="Compose">
                            <mat-icon class="font-size-10" (click)="nextPage(pageNum)">arrow_forward_ios</mat-icon>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav nav-group pl-3">
            <div class="group-items fuse-navy-700">
                <div class="nav-item">
                    <a class="nav-link">
                        <span class=" nav-link-title"
                              (click)="addChannel()"
                              aria-label="Compose"
                              [translate]="'_createChannel'"
                        ></span>
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</div>
